* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-image:url(../img/login/upsjb-ica.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
}

.logo {
	height: 60px;
	background: #949393;
	padding: 5px;
}

.logo img {
	height: 100%;
}

.contenedor {
	width: 700px;
	background: #000;
	margin: auto;
	text-align: center;
}
.mensaje{
	font-size: 30px;
	color: #fff;
	padding: 20px;
}