* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-image:url(../img/login/bg.jpg);
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

.logo {
	height: 60px;
	background: #ffffff;
	padding: 5px;
}

.contenedor {
	width: 400px;
	margin: 60px auto;
	background: #fff;
	border-radius: 6px;
}

.logo_upsjb {
	padding-top: 40px;
	text-align: center;
}
.formulario .contenedor-inputs {
	margin-top: 40px;
	padding: 20px;
	background: #fff;
}

.formulario input[type="text"],
.formulario input[type="password"] {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	padding: 15px 10px;
	border: none;
	border-bottom: 2px solid #ccc;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
}

.formulario input[type="text"]:focus, 
.formulario input[type="password"]:focus{
	border-bottom: 2px solid #246eb9;
}

.formulario .error {
	display: none;
	margin-top: 20px;
	border-radius: 3px;
	background: #424544;
	color: #fff;
	padding: 15px 10px;
	padding-left: 40px;
}

.btn_login {
	margin-top: 10px;
	width: 100%;
	text-align: center;
	background: #8f1910;
	color: #fff;
	border: none;
	display: block;
	padding: 15px 10px;
	cursor: pointer;
	border-radius: 6px 6px 6px 6px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	text-decoration: none;
}

.btn_login:hover {
	background: #c92013;
}